:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-family: 'Poppins', sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #92d6fd;
  --background-color: #f9f9fb;
  --text-color: #000;
  --link-color: #0071ff;
  --cover-color: #ddefff;
  --border-color:black;
  --icon-border-color:rgb(198, 198, 198);
  --border-radius: 12px;
  --icon-border-radius: 4px;
  --button-color : black;
  --button-hover-color:rgb(68, 68, 68);
  --hover-color-chip :#d8d8d8 ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #f9f9fb;
    --text-color: #0b0b0b;
    --link-color: #64b5f6;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family) !important; 
}

html, body {
  
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}


a {
  color: var(--link-color);
  text-decoration: none;
}


.poppins {
  font-family: var(--font-family); 
}

.error{
  color: red;
  text-align: left !important;
  margin: 0.5vw;
  margin-left: 1vw;
  font-size: small;
}

/* navbar */
.topNavName{
  margin-left: 45%;
}

.TopNavIcon{
  color:var(--text-color);
}

.TopNavWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2vw;
  border:solid 1px var(--icon-border-color);
  border-radius: var(--icon-border-radius); 
}

.navBarCover{
  background-color: var(--cover-color);
  padding: 2vh;
}

.searchBar{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
  top: 2vw;
  background-color: white;
  width: 35vw;
  margin-left: 35%;
  border-radius: var(--icon-border-radius);
  padding: 0.5vw;
  padding-left: 2vw;
  padding-right: 1.5vw;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.2s ease;
}

.searchBar:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* profile */

.profileFormWrap{
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

/* product item */
.card{
  transition: box-shadow 0.2s ease;
}
.card:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* cart */

.cartMediaWrap{
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin:1vw;
  margin-left:10%;
  width: 80%;
  border-radius: var(--border-radius);
  transition: box-shadow 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.025), 0 1px 2px rgba(0, 0, 0, 0.167); 
}

.cartMediaWrap:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.025), 0 3px 2px rgba(0, 0, 0, 0.167); 
}

.cardEffect{
  padding: 1vw;
}

.addToCartBtn{
  margin-top: 1.2vh !important;
  width: 90%;
  margin: 1vh;
  background-color: var(--button-color) !important;
  color:white !important;
  border-radius: var(--border-radius);
  transition: box-shadow 0.2s ease;
}

.addToCartBtn:hover{
  background-color: var(--button-hover-color);
  color:white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* profile */

.profileBtns{
  margin: 0.2vh;
  background-color: var(--button-color)!important;
  color:white !important;
  transition: box-shadow 0.2s ease;
}

.profileBtns:hover{
  background-color: var(--button-hover-color);
  color:white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/* scroll bar */
::-webkit-scrollbar {
  /* display: none; */
  width: 4px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border-color);
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cover-color);
  border-radius: 30px;
  transition: all 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color-chip);
}


/* cart */

.cartIconWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  /* padding: 0.2vw; */
  border:solid 1px var(--icon-border-color);
  border-radius: var(--icon-border-radius); 
}

/* noProducts */

.noProducts{
  margin: 5vh;
  margin-left: 37% !important;
  width: auto;
  height: auto;
  padding: 1vw;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: var(--primary-color);
  border-radius: var(--icon-border-radius);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* category item.css */
/* .categoryChips{
  height: 6vh;
  width: 7vw;
} */

/* Notification.module.css */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  animation: slideIn 0.5s, fadeOut 0.5s 4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  .searchBar{
    width: 40vw;
    margin-left: 30%;
    top: 4vh;
  }
  
  .topNavName{
    margin-left: 0%;
  }

  /* .categoryChips{
    height: 6vh;
    width: 10vw;
  } */

  .categories{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* .categoryChips{
    height: 6vh;
    width: 20vw;
    margin: 0;
  } */

}